amqp==5.3.1
asgiref==3.8.1
async-timeout==5.0.1
billiard==4.2.1
celery==5.5.3
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
crispy-bootstrap5==2023.10
cryptography==45.0.3
defusedxml==0.7.1
Django==4.2.10
django-allauth==0.61.1
django-cleanup==8.0.0
django-cors-headers==4.7.0
django-crispy-forms==2.1
django-debug-toolbar==4.3.0
django-extensions==3.2.3
django-filter==23.5
django-modeltranslation==0.18.11
django-storages==1.14.2
djangorestframework==3.14.0
gunicorn==21.2.0
idna==3.10
joblib==1.5.1
kombu==5.5.4
numpy==2.2.6
oauthlib==3.2.2
packaging==25.0
pillow==10.2.0
prompt_toolkit==3.0.51
psycopg2-binary==2.9.9
pycparser==2.22
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
python-i18n==0.3.9
python3-openid==3.2.0
pytz==2025.2
redis==6.2.0
requests==2.32.3
requests-oauthlib==2.0.0
scikit-learn==1.7.0
scipy==1.15.3
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.6.0
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.4.0
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.6.0
